*{
    margin: 0px;
    padding: 0px;
}
#container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.box1{
    height: 60px;
    width:100%;
    line-height: 60px;
}
input{
    margin-left:50px;
    width: 150px;
    height:40px;
}
button{
    margin-left: 60px;
    background-color: antiquewhite;
    width: 120px;
    height:40px;
    border-radius: 6px;
    position: relative;
    border: 0px;
}
.box2{
    height:600px;
    width:100%;
    background-color: aqua;
}